.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

#btn{
  margin-top: 2%;
  text-align: center;
}

button{
  width: 4%;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 5px #222529;
}
 
body {
  background-color: #393E46;
}

h1 {
  margin: 0px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

h2{
  text-align: center;
  font-family: 'Lobster', cursive;
  color: #4ECCA3;
  font-size: 2rem;
  text-shadow: 3px 0 #222529;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}



footer {
  margin-top: 3%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
